<h1>DISCUSSIONS</h1>

<table>
	<thead>
		<tr>
			<th>Don's PM Discussions</th>
			<th></th>

		</tr>
		
	</thead>

	<tbody>
		<th>Title</th>
		<th>Body</th>
		<th>Likes</th>


		<% @dicussions.each do |i| %>

		<tr>
			<td><%= i.title %></td>
			<td><%= i.body.truncate(100) %></td>
			<td><%= i.counter %></td>



			<td><%= link_to "Edit", edit_discussion_path(i)%></td>
			<td><%= link_to "Show", discussion_path(i) %></td>
			<td><%= link_to "Like", like_discussion_path(i) %></td>
  		
  		 <% end %>
   </tbody>
</table>

<br>

<%= link_to 'New Discussion', new_discussion_path, class: "btn btn-primary" %>
<%= link_to 'Project Database', projects_path, class: "btn btn-primary" %>
