<h1> Add a New Topic </h1>
<br>

<%= form_for @discussion do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
<br>
	<%= f.label :body %>
	<%= f.text_area :body %>

<br>


<%= f.submit %>

<% end %>