<h1>SHOW POST DETAILS</h1>


<p>Title <%= @discussion.title %><p/>
<p>Body <%= @discussion.body %></p>
<p>Due Date <%= @discussion.due_date %></p>
<p>Completed Date <%= @discussion.completed_date %></p>


<%= link_to "Edit", edit_discussion_path %>
<%= link_to "Discussions", discussions_path %>

<h1>Replies</h1>
<% @discussion.replies.each do |r| %>
<%= r.body %>
<hr>
<% end %>

<%= form_for [@discussion, @reply] do |f| %>
<div class = "form-group">
  <%= f.label :body, "Post a reply" %>
  <%= f.text_area :body, class: "form-control"%>

</div>
<%= f.submit class: "btn btn-primary" %>
<% end %>


