<h1> Project Management Data Base </h1>
<p style="text-align:right"><%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
<%= link_to 'Discussions', discussions_path, class: "btn btn-primary" %></p>


<h2><font color = "blue"> 3 Most Recent Projects</font></h3>
		<% @create_project_table = @projects_recent %>
		<%= render "project_table" %>


<h2><font color = "blue"> Ordered by View Count</font></h2>
		<% @create_project_table = @projects_left_over.each %>
		<%= render "project_table" %>

<h2><font color = "blue"> long titled projects </font></h3>

		<% @create_project_table = @projects_w_long_title %>
		<%= render "project_table" %>
		


