<h1><b>Project Number:</b> <%= @project.project_no %></h1>
<p>Project Name: <%= @project.title %></p>
<p>Client Name: <%= @project.client_name %></p>
<p>Description:</p>
<p><%= @project.description %></p>
<p>Status: <%= @project.status %></p>
<%= link_to 'Project Database Home', projects_path, class: "btn btn-primary" %>
<%= link_to 'Edit Project', edit_project_path, class: "btn btn-primary" %>
